@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    font-family: 'IrishGrover', system-ui, sans-serif;
    background: linear-gradient(180deg, #6C61F5 0%, #1C115E 100%)
}

@font-face {
    font-family: 'IrishGrover';
    src: url("/fonts/Irish_Grover/IrishGrover-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@keyframes rotateX {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(360deg);
    }
}

.rotate-card {
    animation: rotateX 1.3s 1 both ease-in-out;
}